<section>
  <div class="middle-area">


  <div class="about-three-photos-top" style="margin-left: 5%">
    <div class="about-photo1"></div>
    <div class="about-photo2"></div>
    <div class="about-photo3"></div>
    <div class="about-photo4"></div>
    <div class="about-photo5"></div>
    <div class="about-photo6"></div>
  </div>

  <div class="about-pargraph">
    <p >
      Face broom godlike timothy dalton lip warmer, clive dunn timothy dalton inspector clouseau face broom lip warmer waxy gurn Sergeant major Milkshake issues godlike horseshoe walrus. Cripes lipwig erudite headmaster tom selleck worn with distinction groucho-a-like socially mobile?
    </p>
  </div>

</div>

<div class="aboutbutton">
  <button class="button" ui-sref="trails">Find Your Trail</button>
</div>



</section>
